<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


    <header class="site-header">
        <div class="header-content">
            <h1>iAMauthor</h1>
            <nav>
                <a href="{{ url_for('gallery') }}">Gallery</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('about') }}">About</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

<footer class="site-footer">
    <p>&copy; 2025 iAMauthor — All Rights Reserved.</p>
</footer>


</body>
</html>