{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}

<h1>Profile</h1>
<div class="profile-container">
<div class="profile-row">
    <a href="{{ url_for('gallery') }}" class="book-card-link">
        <div class="book-card wide">
            <div class="book-bg"></div>
            <div class="book-fg">
                <h3>Gallery</h3>
                <p>Preview your books</p>
            </div>
        </div>
    </a>

    <a href="{{ url_for('profile_stats') }}" class="book-card-link">
        <div class="book-card wide">
            <div class="book-bg"></div>
            <div class="book-fg">
                <h3>Stats</h3>
                <p>Reading statistics</p>
            </div>
        </div>
    </a>
</div>

<div class="profile-row">
    <a href="{{ url_for('library') }}" class="book-card-link">
        <div class="book-card wide">
            <div class="book-bg"></div>
            <div class="book-fg">
                <h3>Library</h3>
                <p>Your saved books</p>
            </div>
        </div>
    </a>
</div>

</div>


    {% endblock %}